.CardContent {
  position: absolute;
}

.FeaturedHome {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto;
  filter: grayscale(1);
}
.FeaturedHomeCard,
.CardCover {
  height: 500px;
  padding: 15px;
}
.FeaturedHomeContainer600 {
  width: 600px;
  padding: 0px !important;
  max-width: 45vw;
  margin: 10px;
}
.FeaturedHomeContainer400 {
  width: 400px;
  padding: 0px !important;
  max-width: 35vw;
  margin: 10px;
}
.LearnMore {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.ProperyImage {
  object-fit: cover;
  height: 500px;
  width: 100%;
  border-radius: 10px!important;
}

.PropertyName {
  font-size: 50px;
}

.FeaturedHomeTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.FeaturedHomeTitle {
  display: flex;
  flex-direction: column;
}

.NowSelling {
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
  .FeaturedHomeCard,
  .CardCover,
  .ProperyImage {
    height: 400px;
    background: none !important;
  }
}

@media screen and (max-width: 768px) {
  .FeaturedHome {
    flex-direction: column;
  }
  .FeaturedHomeContainer600,
  .FeaturedHomeContainer400 {
    width: 100vw;
    max-width: 100vw;
    margin: 50px auto;
    padding: 0px;
    border-radius: 0px !important;
  }
  
  .ProperyImage{
    border-radius: 0px!important;
  }

  .LearnMoreContainer {
    padding-bottom: 25px;
    font-size: 30px !important;
    width: 100%;
    text-align: center;
  }

  .PropertyName,
  .NowSelling {
    padding: 10px;
  }
  .CardContent,
  .LearnMore{
    width: 100%;
    text-align: center;
  }

}

@media screen and (max-width: 481px) {
}
