
.Hero{
  background: url('../assets/hero.jpg') no-repeat center center;
  width: 100vw;
  height: 100vh;
  max-height: 800px;
  filter: grayscale(1);

}
.HeroContainer{
  position: relative;
  text-align: center;
  color: #fff;
}

.HeroTitle {
max-width: 1200px;
}

/* featuredHome */

.FeaturedHomeSection {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.FeaturedHomes{
  text-align: center;
  margin: 40px 0px;
}

