.Newsletter {
  width: 40vw;
  max-width: 400px;
}
.Button{
  background-color: #000!important;
}

@media screen and (max-width: 768px) {
    .Newsletter {
        width: 80vw;
        margin: 0 auto;
        max-width: unset;
    }
}
