@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

body {
  font-family: "Montserrat", sans-serif !important;
}
.App {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.Button {
  background-color: #000 !important;
  border: none !important;

  font-family: "Montserrat", sans-serif !important;
  border-radius: 0px !important;

  width: 200px;
}
.Button:hover {
  background-color: #a38a67 !important;
  transition: all 0.5s;
  border: none !important;
}

@font-face {
  font-family: "BrandFont";
  src: url("./assets/fonts/ailerons/Ailerons-Typeface.otf");
}

.Title {
  font-family: "BrandFont", "sans-serif" !important;
  font-size: 50px;
  margin: auto;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
.Brand {
  font-family: "BrandFont", "sans-serif" !important;
  color: #000;
  position: absolute;
  z-index: 1000;
  text-align: center;
  width: 100%;
  top: 70px;
  font-size: 50px;
}

@media screen and (max-width: 1024px) {
  .Button {
    color: #a38a67;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 50px !important;
  }
  .Brand {
    top: 70px;
  }
}

@media screen and (max-width: 768px) {
  .Title {
    font-size: 45px !important;
    width: 95%;
  }
}

@media screen and (max-width: 481px) {
  .Title {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 40px !important;
  }
  .Title {
    font-size: 35px !important;
  }
}
